extends layout

block content
    h1= title

    ul
    each reservation in reservation_list
        li
            a(href=reservation.url) Резерв столика № #{reservation.id_table.position} с #{reservation.start_time_formatted}

    else
        li Нет резервов.