extends layout

block content
    h1=title

    form(method='POST' action='')
        div.form-group
            label(for='name') Имя:
            input#name.form-control(type='text', placeholder='Иван' name='name' value=(undefined===visitor ? '' : visitor.name))

        div.form-group
            label(for='email') Электронная почта:
            input#email.form-control(type='text' name='email' value=(undefined === visitor ? '' : visitor.email))

        button.btn.btn-primary(type='submit') Сохранить

    if errors
        ul
            for error in errors
                li!= error.msg